<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/items">Shop Items</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/addmobile">Add Mobile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/viewmobile">View Mobiles</a>
                        </li>
        </ul>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col col-lg-6">
                <form action="/read" method="POST">
                    <table class="table">
                        <tr><td>Name:</td><td><input type="text" name="mname" class="form-control" id=""></td></tr>
                        <tr><td>Price:</td><td><input type="text" name="mprice" class="form-control" id=""></td></tr>
                        <tr><td>Summary:</td><td><textarea name="mdesc" class="form-control" id="" cols="40" rows="3"></textarea></td></tr>
                        <tr><td>Review:</td><td><textarea name="mreview" class="form-control" id="" cols="40" rows="3"></textarea></td></tr>
                        <tr><td></td><td><input type="submit" class="btn btn-primary" value="Submit"></td></tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>